.container {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "toolbar toolbar"
        "navbar student";
    height: 100vh;
}
.toolbar {
    grid-area: toolbar;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    grid-area: navbar;
    background: #444;
    color: white;
    padding: 20px;
}

.student {
    grid-area: student;
    background: #f4f4f4;
    padding: 20px;
}